@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg2);
}

:root {
  --color-bg1: #030303;
  /* --color-bg2: #1b1b1b; */
  /* --color-bg22: 27, 27, 27; */
  --color-bg2: #0e0f11;
  --color-bg22: 14, 15, 17;
  --color-bg3: #303030;
  --color-f1: #d7d7d7;
  --color-f2: #e8e8e8;
  --color-f3: #f0f0f0;
  --color-f4: #a3a3a3;
  --color-r1: #800016;
  --color-r2: #a0001c;
  --color-r3: #c00021;
  --color-r4: #ff002b;
  --color-r5: #df0608;
  --color-r6: 160, 0, 28;
  --color-r7: #ff4545;
  --font1: "Oswald", sans-serif;
  --font2: "Mursgothic";
  --circle-size: 80%;
  --blending: hard-light;
}

@font-face {
  font-family: "Mursgothic";
  src: url("../fonts/MursGothic-WideDark.woff2");
}
/* hero section */
.hero {
  --top: #890809;
  --bottom: #070a14;
  /* background-image: linear-gradient(var(--top), var(--bottom)); */
  background-position: 80% 75%;
  /* background-size: 65%; */
  background-image: url('../img/logo-g2.png');
  background-color: var(--color-bg2);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 60px;
}
@media screen and (max-width: 500px){
  .hero{
    /* background-size: cover; */
  }
}
.hero-images div {
  --border-width: 15px;
  --speed: 0.09;
  --move-x: calc(var(--page-x) * 0.9);
  position: absolute;
  width: var(--width);
  border-radius: 6px;
  top: var(--top);
  left: var(--left);
  z-index: var(--z-index);
  border: var(--border-width) solid transparent;
  transform-style: preserve-3d;
  transform: translate(
      calc(var(--move-x) * calc(var(--speed) * 1px)),
      calc(var(--page-y) * calc(var(--speed) * 1px))
    )
    rotate3d(
      calc(var(--move-x) * var(--speed)),
      calc(var(--page-y) * var(--speed)),
      1,
      20deg
    );
}

.h-img {
  width: 100%;
  border-radius: calc(var(--border-width) - 2px);
}

.hero-images div::before {
  content: "";

  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  /* background-image: radial-gradient(49% 81% at 45% 47%, #c01818 0%, #073AFF00 100%),radial-gradient(142% 91% at 83% 7%, #a91818 1%, #ad1c1c00 99%),radial-gradient(142% 91% at -6% 74%, #b31a1a 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #0E282AFF 0%, #b02222 100%); */

  width: calc(100% + var(--border-width));
  height: calc(100% + calc(var(--border-width) - 3px));
  position: absolute;
  z-index: -1;
  top: calc(var(--border-width) / -2);
  left: calc(var(--border-width) / -2);
  border-radius: calc(var(--border-width) - 2px);
}

.hero-images {
  position: relative;
}

.hero-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* title */
.header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.header h1 {
  color: #fff;
  text-align: center;
  font-size: 105px;
  font-family: var(--font2);
  margin: 10px;
  font-weight: bold;
  color: #890809;
  /* color: var(--color-r3); */
}
.header h2 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.header p {
  
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #890809;
  margin: 0;
}

.hero-images div:nth-child(1) {
  --speed: 0.075;
  --width: 210px;
  --left: -20rem;
  --top: 32rem;
}

.hero-images div:nth-child(2) {
  --z-index: 2;
  --width: 285px;
  --left: -42rem;
  --top: 9vh;
  --speed: 0.07;
}

.hero-images div:nth-child(3) {
  --z-index: 3;
  --width: 200px;
  --left: 413px;
  --top: 17vh;
  --speed: 0.04;
}

.hero-images div:nth-child(4) {
  --width: 180px;
  --left: -47rem;
  --top: 48vh;
  --speed: 0.045;
}

.hero-images div:nth-child(5) {
  -z-index: 3;
  --width: 162px;
  --left: 25rem;
  --top: 23rem;
  --speed: 0.065;
}

.hero-images div:nth-child(6) {
  -z-index: 2;
  --width: 375px;
  --left: 6rem;
  --top: 31rem;
  --speed: 0.03;
}
.hero-images div:nth-child(7) {
  -z-index: 3;
  --width: 125px;
  --left: 2rem;
  --top: 0rem;
  --speed: 0.065;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .hero-images div:nth-child(1) {
    --speed: 0.075;
    --width: 210px;
    --left: -20rem;
    --top: 65vh;
  }
  .hero-images div:nth-child(2) {
    --left: -34rem;
  }
  .hero-images div:nth-child(3) {
    --width: 211px;
    --left: 262px;
  }
  .hero-images div:nth-child(4) {
    --left: -37rem;
  }

  .hero-images div:nth-child(5) {
    --width: 181px;
    --left: 17rem;
  }
  .hero-images div:nth-child(6) {
    --left: 4rem;
    --top: 66vh;
  }
  .hero-images div:nth-child(7) {
    --width: 150px;
    --left: -4rem;
  }
}

@media screen and (max-width: 840px) {
  .hero-images div:nth-child(1) {
    --speed: 0.075;
    --width: 210px;
    --left: -24rem;
    --top: 73vh;
  }
  .hero-images div:nth-child(2) {
    --left: -28rem;
  }
  .hero-images div:nth-child(3) {
    --left: 158px;
  }

  .hero-images div:nth-child(4) {
    --left: -32rem;
  }

  .hero-images div:nth-child(6) {
    --left: -1.5rem;
    --top: 69vh;
    --width: 361px;
  }
}

@media screen and (max-width: 640px) {
  .hero-images div:nth-child(1) {
    --speed: 0.075;
    --width: 210px;
    --left: -24rem;
    --top: 71vh;
  }
  .hero-images div:nth-child(2) {
    --left: -25rem;
    --width: 265px;
  }
  .hero-images div:nth-child(3) {
    --left: 110px;
  }

  .hero-images div:nth-child(4) {
    --left: -25rem;
    --width: 150px;
  }

  .hero-images div:nth-child(5) {
    --left: 9rem;
    --top: 50vh;
  }

  .hero-images div:nth-child(6) {
    --left: -4.5rem;
    --top: 74vh;
    --width: 305px;
  }
  .hero-images div:nth-child(7) {
    --width: 140px;
    --left: -6rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-images div:nth-child(1) {
    --top: 71vh;
    --left: -20rem;
  }

  .hero-images div:nth-child(2) {
    --left: -22rem;
    --width: 252px;
  }
  .hero-images div:nth-child(3) {
    --left: 49px;
    --top: 19vh;
  }
  .hero-images div:nth-child(7) {
    --left: -5rem;
    --top: -1vh;
  }
}

/* about section */
.about {
  top: 0;
  width: 98vw;
  padding: 20px 0;
  margin: auto;
  background-color: var(--color-bg2);
  /* border: 1px solid red; */
}
.about-wrapper {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  scrollbar-color: transparent transparent;
}
.about-content {
  position: sticky;
  height: 90vh;
  top: 40px;
  flex: 1;
  max-width: 50%;
  /* Limit width */
  text-align: center;
  color: white;
  margin: 0 50px 0 50px;
  /* border: 1px solid red;s */
}

.about-container {
  flex: 2;
  max-width: 50%;
}

.about-card {
  position: sticky;
  top: 20px;
  /* max-width: 500px; */
  width: 40vw;
  /* width: 100%; */
  margin: 0 auto;
  border: 1px solid color-mix(in srgb, #333, white 20%);
  border-radius: 18px;
  /* background-color: #333; */
  background-color: #26282c;
  color: white;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0 -5px 10px var(--color-bg2), 0 5px 10px var(--color-bg2);
}

.about-card:nth-child(2) {
  top: 30px;
}

.about-card:nth-child(3) {
  top: 40px;
}

.about-card:nth-child(4) {
  top: 50px;
}

.about-card:nth-child(5) {
  top: 60px;
}

.name {
  margin: 0 0 5px;
  color: pink;
  font-size: 20px;
}

.testimony {
  font-size: 1.6rem;
  color: var(--color-f1);
}

.img-card img {
  border-radius: 18px;
}

/* responsive */
@media (max-width: 768px) {
  .about-wrapper {
    display: block;
    /* flex-direction: column; */
  }
  .about-card {
    width: 80vw;
  }
  .about-container,
  .about-content {
    margin: 0 10px;
    max-width: 100%;
  }
  .about-content {
    position: relative;
    /* height: 70vh; */
  }
}

/* para */
.about-content p {
  font-family: Poppins;
  font-size: 23px;
}

.about-content h1 {
  font-family: var(--font2);
  color: var(--color-r3);
  font-size: 50px;
}

/* number count */
.exp,
.event_c {
  font-family: var(--font2);
  color: var(--color-f2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp .counter,
.event_c .counter {
  font-family: Bold, var(--font2);
  font-size: 2rem;
  line-height: 1;
}
.exp span,
.event_c span {
  font-size: 2rem;
  margin: 16px 0 16px 0;
}

/* founder section */
.founder {
  background-color: var(--color-bg2);
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.gradient {
  position: relative;
  overflow-x: hidden;
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.gradient-bg svg {
  display: none;
}

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.gradient-bg .g1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-r6), 0.5) 0,
      rgba(var(--color-r6), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
}

.gradient-bg .g2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-r6), 0.5) 0,
      rgba(var(--color-r6), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
}

.gradient-bg .g3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-r6), 0.5) 0,
      rgba(var(--color-r6), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}
.gradient-bg .g4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-r6), 0.5) 0,
      rgba(var(--color-r6), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 40s reverse infinite;
  opacity: 1;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg .g-interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-r6), 0.7) 0,
      rgba(var(--color-r6), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

.founder::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgb(var(--color-bg22)) 0,
    rgba(var(--color-bg22), 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 50;
}

.founder::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to top,
    rgb(var(--color-bg22)) 0,
    rgba(var(--color-bg22), 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 50;
}
.f-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.founder .heading {
  font-family: var(--font1);
  font-size: 7.5vh;
  color: var(--color-f3);
}
.f-body {
  text-align: center;
  color: var(--color-f3);
}
.f-body img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.f-body h4 {
  font-family: var(--font1);
  font-size: 5.5vh;
  margin: 15px 0 10px 0;
}
.f-body h3 {
  font-family: var(--font1);
  font-size: 2.5vh;
  margin: 2px;
}
.fkm-button {
  /* font-family: inherit; */
  display: inline-block;
  width: 6em;
  height: 2.4em;
  line-height: 2.3em;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 0 20px 0;
  padding: 0 12px;
  font-size: 17px;
  z-index: 1;
  color: var(--color-f3);
  border: 2px solid var(--color-r5);
  border-radius: 6px;
  position: relative;
}
.fkm-button::before {
  position: absolute;
  content: "";
  background: var(--color-f3);
  width: 200px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}
.fkm-button:hover {
  color: var(--color-r5);
}

.fkm-button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.fkm-button:hover::before {
  top: -30px;
  left: -30px;
}

/* flagship event section */
.flagship {
  background-color: var(--color-bg2);
  position: relative;
}
.f-header {
  display: flex;
  justify-content: center;
  text-align: center;
}
.f-header h1 {
  color: var(--color-f3);
  font: var(--font2);
  font-weight: 900;
  font-size: 3em;
}
@media (max-width: 550px) {
  .f-header h1 {
    font-size: 2em;
  }
}
#horizontal-scoll {
  padding: 50px 0 10px 0;
}

.horizontal-scoll-wrapper {
  overflow: hidden;
  height: 455px;
}

.horizontal {
  display: flex;
  height: 100%;
}

.horizontal > div {
  display: flex;
  flex-shrink: 0;
  padding: 0 5px;
}

.horizontal > div:first-child {
  padding: 0 5px 0 15px;
}

.horizontal > div:last-child {
  padding: 0 15px 0 5px;
}

.horizontal .card {
  align-items: stretch;
  width: 360px;
  /* padding: 50px 40px; */
  /* background: var(--color-r2); */
  border-radius: 38px;
  color: #f6f2e8;
}
/* card */
.card {
  position: relative;
  height: 50vh;
  width: 35vw;
  padding: 40px;
  margin: 10px;
  transform-style: preserve-3d;
}

.card .title {
  position: relative;
  margin-top: 40vh;
  z-index: 2;
  color: var(--color-f3);
  /* mix-blend-mode: difference; */
  background-color: rgba(38, 40, 44, 0.7);
  border-radius: 10px;
  padding-left: 5px;
  width: auto;
  transform: translateZ(20px);
}
.fec1 {
  background: url("../img/events/3.webp");
}
.fec2 {
  background: url("../img/events/11.webp");
}
.fec3 {
  background: url("../img/events/7.webp");
}
.fec4 {
  background: url("../img/events/14.webp");
}
.fec5 {
  background: url("../img/events/17.webp");
}
.fec6 {
  background: url("../img/events/4.webp");
}
.card .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* what type of events we do */
.types {
  background-color: var(--color-bg2);
  /* height: 290vh; */
  width: 100%;
  position: relative;
}
.t-heading {
  height: 100vh;
  position: sticky;
  /* top: 26vh; */
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.t-heading h1 {
  color: var(--color-f3);
  text-align: center;
  font-family: var(--font2);
  font-size: 10.5vw;
  font-weight: bold;
}
.t-content {
  display: flex;
  justify-content: center;
  z-index: 5;
}
.t-grid-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  position: relative;
}
.tg-row {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.tg-grid {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 40vw;
  margin: 0 1.5vw;
}
.tg-grid:nth-child(2) {
  margin-top: 100px;
}
.tg-row:last-child {
  margin-top: -50px;
}
.tgg2 {
  justify-content: end;
}
.tg-card {
  height: 23vw;
  width: 18vw;
  background-color: var(--color-f3);
  padding: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-radius: 15px;
  text-align: center;
}
.tg-cr {
  background-color: var(--color-r7);
}
.tg-card-img {
  width: 17.5vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  overflow: hidden;
  margin: auto;
}
.tg-card-img img {
  flex-shrink: 0;
  max-width: 100%;
  min-height: 100%;
}
.tg-card h3 {
  font-family: var(--font1);
  font-size: 2vw;
  text-transform: uppercase;
  margin: 5px 0;
}
.t-img-wrapper {
  position: absolute;
}
.t-cman {
  width: 40vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (max-width: 1024px) {
  .tg-row {
    width: 98vw;
  }
  .tg-grid {
    width: 45vw;
  }
  .tg-card {
    height: 26vw;
    width: 19.5vw;
  }
  .tg-card-img {
    width: 19.5vw;
  }
}
@media (max-width: 950px) {
  .t-heading {
    height: 70vh;
  }
  .t-heading h1 {
    font-size: 13vw;
  }
  .tg-row {
    width: 95vw;
  }
  .tg-card {
    height: 43vw;
    width: 34vw;
  }
  .tg-card-img {
    width: 33.5vw;
  }
  .tg-card h3 {
    font-size: 3.5vw;
  }
  .tg-row:last-child {
    margin-top: 0px;
  }
  .tg-empty {
    display: none;
  }
}
@media (max-width: 650px) {
  .t-heading {
    height: 50vh;
  }
  .t-heading h1 {
    font-size: 15vw;
  }
  .tg-row {
    flex-direction: column;
    width: 80vw;
    margin: 0 10px;
  }
  .tg-grid {
    width: 80vw;
  }
  .tg-card {
    height: 67vw;
    width: 52vw;
    margin: 10px 0;
  }
  .tg-card-img {
    width: 50.5vw;
  }
  .tg-card h3 {
    font-size: 5.5vw;
  }
  .tg-grid:nth-child(2) {
    margin-top: 0px;
    justify-content: end;
  }
  .tgg2 {
    justify-content: start;
  }
}

/* contact section */
.contact {
  background-color: var(--color-bg2);
  /* height: 100vh; */
  padding-top: 40px;
  padding-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-header {
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.c-container {
  width: 75vw;
}

.section-header h2 {
  color: #fff;
  font-weight: bold;
  font-family: var(--font2);
  font-size: 3em;
  margin: 15px 5px 5px 5px;
  /* margin-bottom: 20px; */
}

.section-header p {
  color: #fff;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  align-items: center;
  /* margin-bottom: 30px; */
}

.contact-info-icon {
  height: 50px;
  width: 50px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 25px;
  line-height: 50px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: var(--color-r4);
  font-size: 1.4em;
  margin-bottom: 5px;
  margin-top: 10px;
}

.contact-info-content p {
  color: #fff;
  font-size: 1em;
}

.contact-form {
  /* background-color: #fff; */
  color: #000;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--color-f2);
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid var(--color-bg3);
  background-color: var(--color-bg2);
  color: var(--color-f3);
  outline: none;
  resize: none;
  z-index: 10;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  /* transition: 0.5s; */
  color: #666;
  transform: translateY(0);
  transition: transform 0.5s ease;
}

.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:valid ~ span,
.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span {
  color: var(--color-r4);
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: var(--color-r4);
  border-radius: 15%;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 7px 15px;
  font-size: 18px;
  border: 1px solid var(--color-r4);
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #fff;
  color: var(--color-r4);
}

@media (max-width: 991px) {
  .contact {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .row {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .c-container {
    width: 85vw;
  }
}

.magnetic {
  margin: -20px -100px;
  padding: 20px 100px 40px 100px;
  display: inline-block;
  border-radius: 50%;
  z-index: 0;
  /* pointer-events: none; */
  /* //use this for debugging */
  /* border: 1px solid #000; */
}

#magnet-button {
  display: inline-block;
}

.my-button {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.my-button:hover {
  color: #fff;
  background-color: #000;
  transition: 0.5s background-color, 0.5s box-shadow;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.5);
}
