@import url("https://fonts.googleapis.com/css?family=Oswald");

html,
body {
  display: block;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
:root {
  --color-bg1: #030303;
  --color-bg2: #1b1b1b;
  --color-bg3: #303030;
  --color-f1: #d7d7d7;
  --color-f2: #e8e8e8;
  --color-f3: #f0f0f0;
  --color-r1: #800016;
  --color-r2: #a0001c;
  --color-r3: #c00021;
  --color-r4: #ff002b;
  --color-r5: #df0608;
  --font1: "Oswald", sans-serif;
  --font2: "Mursgothic";
}

@font-face {
  font-family: "Mursgothic";
  src: url("../fonts/MursGothic-WideDark.woff2");
}

/* loader */

/* nav */
nav {
  display: flex;
  position: relative;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
nav img {
  width: 100px;
}
.nav-icons {
  position: relative;
}
.container {
  position: relative;
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
#navigationWrap {
  display: none;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: var(--color-bg1);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  overflow: hidden;
  cursor: none;
  font-family: var(--font1);
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  color: white;
  font-size: 15vh;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 700;
}
nav ul li:first-child {
  font-size: 8vh;
  overflow: visible;
}
@media (max-width: 750px) {
  nav ul li {
    font-size: 15vw;
  }
  nav ul li:first-child {
    font-size: 8vw;
  }
}
nav a {
  color: white;
  padding: 0 10px;
  margin: 0;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}
nav a:hover {
  color: #f24738;
}
.navbar {
  /* position: absolute; */
  /* top: 20px;
  left: 20px; */
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer;
}
.close {
  display: none;
  opacity: 0;
}
.social a {
  color: #484848;
  color: white;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}
.social a:hover {
  color: #f24738;
}
.fa {
  color: #484848;
  padding-right: 12px;
  font-size: 1.8em !important;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fa:hover {
  color: #f24738;
}
/* hamburger menu css */
.svg-menu-toggle {
  fill: var(--color-r4);
  pointer-events: all;
  cursor: pointer;
}
.svg-menu-toggle .bar {
  -webkit-transform: rotate(0) translateY(0) translateX(0);
  transform: rotate(0) translateY(0) translateX(0);
  opacity: 1;
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out,
    opacity 0.2s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
}
.svg-menu-toggle .bar:nth-of-type(1) {
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
}
.svg-menu-toggle .bar:nth-of-type(3) {
  -webkit-transform-origin: 20px 20px;
  transform-origin: 20px 20px;
}
.svg-menu-toggle:hover .bar:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translateY(7px) translateX(0);
  transform: rotate(0deg) translateY(7px) translateX(0);
}
.svg-menu-toggle:hover .bar:nth-of-type(2) {
  opacity: 0;
}
.svg-menu-toggle:hover .bar:nth-of-type(3) {
  -webkit-transform: rotate(0deg) translateY(-7px) translateX(0em);
  transform: rotate(deg) translateY(-7px) translateX(0em);
}
.inline-svg {
  display: block;
  margin: 0 auto;
}
/* navbar cross css*/
.interactive {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3%;
  left: -2.5%;
  opacity: 0.9;
  pointer-events: none;
  transition: ease-in-out;
}
@media (max-width: 1000px) {
  #navigationWrap {
    cursor: auto;
  }
  .interactive {
    display: none !important;
  }
}
/* footer */

.main-footer {
  position: relative;
  background: var(--color-bg2);
  overflow: hidden;
}
.footer-content {
  position: relative;
  padding: 15px 0px 0px 0px;
}
.footer-content:before {
  position: absolute;
  content: "";
  background: url(https://i.ibb.co/jyRLrBZ/world-map.png);
  z-index: 0;
  width: 60vw;
  height: 365px;
  top: 50px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: float-bob;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.footer-content .logo-widget {
  position: relative;
  margin-top: -5px;
}
.footer-content .logo-widget .footer-social li {
  position: relative;
  display: inline-block;
  margin-right: 9px;
}
.footer-content .logo-widget .footer-social li:last-child {
  margin-right: 0px;
}
.footer-content .logo-widget .footer-social li a {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #2e3138;
  color: #9ea0a9;
  text-align: center;
  border-radius: 50%;
}
.footer-content .logo-widget .footer-social li a:hover {
  color: #ffffff;
  background: var(--color-r3);
}
.footer-content .logo-widget .logo-box {
  margin-bottom: 25px;
}
.footer-content .logo-widget .text p {
  color: #9ea0a9;
  margin-bottom: 32px;
}
.footer-title {
  position: relative;
  font-size: 24px;
  line-height: 35px;
  font-family: var(--font2);
  color: #ffffff;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-content .service-widget .list {
  padding-left: 5px;
}
.footer-content .service-widget .list li {
  display: block;
  margin-bottom: 12px;
}
.footer-content .service-widget .list li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #9ea0a9;
}
.footer-content .service-widget .list li a:hover {
  color: var(--color-r3);
}
.footer-content .contact-widget p {
  color: #9ea0a9;
  margin-bottom: 15px;
}

.footer-bottom {
  position: relative;
  background: var(--color-bg2);
  padding: 25px 0px 22px 0px;
}
.footer-bottom .copyright,
.footer-bottom .copyright a,
.footer-bottom .footer-nav li a {
  position: relative;
  color: #9ea0a9;
}
.footer-bottom .copyright a:hover,
.footer-bottom .footer-nav li a:hover {
  color: var(--color-r3);
}
.footer-bottom .footer-nav {
  position: relative;
  text-align: right;
}
.footer-bottom .footer-nav li {
  position: relative;
  display: inline-block;
  margin-left: 29px;
}
.footer-bottom .footer-nav li:first-child {
  margin-left: 0px;
}
.footer-bottom .footer-nav li:before {
  position: absolute;
  content: "";
  background: #9ea0a9;
  width: 1px;
  height: 14px;
  top: 7px;
  left: -18px;
}
.footer-bottom .footer-nav li:first-child:before {
  display: none;
}
.logo-box img {
  max-width: 220px;
}
.main-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid var(--color-bg3);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85vw;
}
.footer-column {
  flex: 10% 0 21%;
  /* The '21%' here is not exact and you may need to adjust this value */
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 5px;
  z-index: 2;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  background: var(--color-bg1);
  width: 100%;
}
.f-text {
  width: 280px;
  height: 180px;
  line-height: 25px;
  margin-left: 4vw;
}
@media (max-width: 400px) {
  .f-text {
    width: 75vw;
  }
  /* .logo-widget .footer-widget{} */
  .logo-box {
    margin: 5px;
  }
  .footer-social {
    padding-left: 10px;
  }
  .f-text {
    height: 190px;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background: var(--color-bg2);
}
::-webkit-scrollbar-track {
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-bg2);
}
::-webkit-scrollbar-track:hover {
  background: var(--color-r3);
}

/* Text selection */
::-moz-selection {
  color: var(--color-r3);
  background: var(--color-f2);
}
::selection {
  color: var(--color-f2);
  background: var(--color-r3);
}
